.shoeForm .field-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shoeForm .field-list .field {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.shoeForm .field-list .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}