.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sliderWrapper {
  position: relative;
}

.sliderWrapper input {
  width: 100%;
}

.bubble {
  position: absolute;
  transform: translateX(-50%);
}