:root {
  --background-light: #262730;
  --background-dark: #0e1117;
  --gray: #7b7b81;
  --orange: #ff4b4b;
  --orange-light: #F9735B;
  --white: #fafafa;
  --green: #17a640;
  --blue: #2e9aff;

  --small-screen: 1000px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 14px;
}

body {
  background: var(--background-dark);
  color: var(--white);
  font-weight: 400;
  width: 100vw;
  height: 100vh;
}

/* App wrapper */
.app-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  display: flex;
  flex-direction: row;
}

/* Content */ 
.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Info Wrapper */ 
.info-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.info-wrapper h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Info item list */
.info-item-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.info-item-list .info-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-item .imageWrapper {
  width: 100px;
  height: 100px;
  background-color: var(--orange-light);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-item img {
  width: 70px;
}

/* Info field */
.info-field-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-field-list .message {
  color: var(--green);
  font-weight: bold;
  font-size: 16px;
}

.info-field .title {
  font-weight: 400;
}

.info-field .value {
  font-size: 2.5rem;
}

/* Subscribe link */
.subscribe-link {
  color: var(--blue);
  font-size: 16px;
}

/* Responsiveness */
@media only screen and (max-width: 750px) {
  .app-wrapper {
    flex-direction: column;
  }

  html {
    font-size: 12px;
  }

  .content-wrapper {
    align-items: center;
  }

  .info-item-list {
    flex-direction: column;
  }
}